@charset "UTF-8";

@font-face {
    font-family: "Zara";
    src: url("../../public/assets/Zara-Font/Zara.otf");
}

:root {
    --bs-font-sans-serif: 'Zara', sans-serif;
    --bs-font-monospace: 'Zara', sans-serif;
}

body {
    font-family: var(--bs-font-sans-serif);
}

.fontFamilyH6 {
    font-family: var(--bs-font-sans-serif);
}